.article{
  max-width: 800px;
  margin: 40px auto;
  padding-inline: 1rem;
}

.articleContents{
  border: 1px solid #ccc;
  padding: 1rem;
}

.articleContents + .articleContents{
  margin-top: 2rem;
}

.articleHeader{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.articleMain{
  text-align: left;
}
